:root {
    --main-bg-color: brown;
    --secondary-bg-color: blue;
    --btn-padding:1rem;
    --sctn-padding:1rem;
    --margin:1rem;
}

body{
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

#container{
    display: grid;
    grid-template-rows: "hero vision expertise devise projet articles contact";
}

#vision{
    grid-area: vision;
}

#expertise{
    grid-area: expertise;
}

#devise{
    grid-area: devise;
}

#projet{
    grid-area: projet;
}

#articles{
    grid-area: articles;
}

#contact{
    grid-area: contact;
}

